<div class="container">
    <header>
        <nav>
            <h3>Bottom sheet</h3>
            <div class="flex-max"></div>
            <a class="btn icon tonal" href="#js"><i><iconify-icon icon="mdi:language-javascript"></iconify-icon></i></a>
        </nav>
    </header>
    <footer>
        <dialog id="bottom-sheet-demo" class="bottom-sheet">
            <br>
            <div class="grid all-max">
                <div class="field s12 m6">
                    <input type="date" placeholder="">
                    <label><span>Start</span></label>
                </div>
                <div class="field s12 m6">
                    <input type="date" placeholder="">
                    <label><span>End</span></label>
                </div>
            </div>
            <br>
            <form method="dialog">
                <button class="full">Add event</button>
            </form>
        </dialog>
        <button class="tonal" onclick="document.getElementById('bottom-sheet-demo').showModal()">Open</button>
        <hr class="margin-vert">
        <p class="text-sm margin-xs">CSS-only Checkbox solution:</p>
        <label class="btn tonal dialog-trigger" for="bottom-sheet-checkbox-demo">Open</label>
        <input class="base" type="checkbox" id="bottom-sheet-checkbox-demo">
        <div class="dialog bottom-sheet">
            <br>
            <div class="grid all-max">
                <div class="field s12 m6">
                    <input type="date" placeholder="">
                    <label><span>Start</span></label>
                </div>
                <div class="field s12 m6">
                    <input type="date" placeholder="">
                    <label><span>End</span></label>
                </div>
            </div>
            <br>
            <form method="dialog">
                <label class="btn full" for="bottom-sheet-checkbox-demo">Add event</label>
            </form>
        </div>
    </footer>
</div>