<div class="container">
    <header>
        <h3>Button</h3>
    </header>
    <footer>
        <button>Button</button>
        <button class="tonal">Button</button>
        <button class="outline">Button</button>
        <button class="text">Button</button>
        <button class="elevated">Button</button>
        <br><br>
        <button><i>
                <iconify-icon icon="mdi:edit-outline"></iconify-icon>
            </i>Button</button>
        <button class="tonal"><i>
                <iconify-icon icon="mdi:edit-outline"></iconify-icon>
            </i>Button</button>
        <button class="outline"><i>
                <iconify-icon icon="mdi:edit-outline"></iconify-icon>
            </i>Button</button>
        <button class="text"><i>
                <iconify-icon icon="mdi:edit-outline"></iconify-icon>
            </i>Button</button>
        <button class="elevated"><i>
                <iconify-icon icon="mdi:edit-outline"></iconify-icon>
            </i>Button</button>
        <br><br>
        <button class="icon"><i>
                <iconify-icon icon="mdi:edit-outline"></iconify-icon>
            </i></button>
        <button class="icon tonal"><i>
                <iconify-icon icon="mdi:edit-outline"></iconify-icon>
            </i></button>
        <button class="icon outline"><i>
                <iconify-icon icon="mdi:edit-outline"></iconify-icon>
            </i></button>
        <button class="icon text"><i>
                <iconify-icon icon="mdi:edit-outline"></iconify-icon>
            </i></button>
        <button class="icon elevated"><i>
                <iconify-icon icon="mdi:edit-outline"></iconify-icon>
            </i></button>
    </footer>
</div>