<div class="container">
    <header>
        <h3>Card</h3>
    </header>
    <footer>
        <div class="card">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
        <br>
        <div class="grid all-s6">
            <div class="card padding-none">
                <img class="round" src="https://placehold.co/600x200?text=GMX.css&amp;font=roboto">
                <div class="padding">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </div>
            </div>
            <div class="card padding">
                <nav>
                    <img class="btn icon padding-none" src="https://placehold.co/200?text=GMX.css&amp;font=roboto">
                    <div class="left-margin">
                        <h6>Title</h6>
                        <p>Lorem ipsum.</p>
                    </div>
                </nav>
                <button>Button</button>
            </div>
        </div>
    </footer>
</div>