<div class="container">
    <header>
        <h3>Chip</h3>
    </header>
    <footer>
        <nav class="gap-s">
            <label class="btn chip">
                <input type="checkbox">
                <span>Chip</span>
            </label>
            <label class="btn chip">
                <i>
                    <iconify-icon icon="mdi:edit"></iconify-icon>
                </i>
                <input type="checkbox">
                <span>Chip</span>
            </label>
            <label class="btn chip">
                <input type="checkbox">
                <span>Chip</span>
                <i>
                    <iconify-icon icon="mdi:chevron-down"></iconify-icon>
                </i>
            </label>
        </nav>
    </footer>
</div>