<div class="container">
    <header>
        <h3>FAB</h3>
    </header>
    <footer>
        <button class="fab small tonal"><i>
                <iconify-icon icon="mdi:edit-outline"></iconify-icon>
            </i></button>
        <button class="fab tonal"><i>
                <iconify-icon icon="mdi:edit-outline"></iconify-icon>
            </i></button>
        <button class="fab large tonal"><i>
                <iconify-icon icon="mdi:edit-outline"></iconify-icon>
            </i></button>
        <button class="fab extended tonal"><i>
                <iconify-icon icon="mdi:edit-outline"></iconify-icon>
            </i>Hello</button>
    </footer>
</div>