<section class="grid all-m6 all-s12 gap-lg" id="features">
    <div class="container primary-container">
        <nav class="align-start">
            <button class="fab small margin-right"><i>
                    <iconify-icon icon="mdi:rocket-outline"></iconify-icon>
                </i></button>
            <article>
                <h5>Fast</h5>
                <p class="margin-none">GMX.css is an rewritten Material Design-based CSS framework, with
                    an
                    smallest size and good code quality.</p>
            </article>
        </nav>
        <br>
        <nav class="text-xxxl justify-center">
            <i>
                <iconify-icon icon="mdi:lightning-bolt"></iconify-icon>
            </i>
            <i>...</i>
            <i>
                <iconify-icon icon="mdi:checkbox-multiple-marked-circle-outline"></iconify-icon>
            </i>
        </nav>
    </div>
    <div class="container primary-container">
        <nav class="align-start">
            <button class="fab small margin-right"><i>
                    <iconify-icon icon="mdi:check-all"></iconify-icon>
                </i></button>
            <article>
                <h5>Robust</h5>
                <p class="margin-none">Even in some edge cases like being printed, used in high contrast
                    mode,
                    or with JS off, most of GMX.css is still usable.</p>
            </article>
        </nav>
        <br>
        <nav class="text-xxl justify-around">
            <i>
                <iconify-icon icon="mdi:important-devices"></iconify-icon>
            </i>
            <i>
                <iconify-icon icon="mdi:printer-check"></iconify-icon>
            </i>
            <i>
                <iconify-icon icon="mdi:contrast-circle"></iconify-icon>
            </i>
            <i>
                <iconify-icon icon="mdi:toggle-switch-off-outline"></iconify-icon>
            </i>
        </nav>
    </div>
    <div class="container primary-container">
        <nav class="align-start">
            <button class="fab small margin-right"><i>
                    <iconify-icon icon="mdi:star-four-points-outline"></iconify-icon>
                </i></button>
            <article>
                <h5>Pure</h5>
                <p class="margin-none">The code is written just with pure CSS and dont limited to one
                    framework, so you can reusable it with HTML5 or your favorite framework.</p>
            </article>
        </nav>
        <br>
        <nav class="text-xxl justify-around">
            <i>
                <iconify-icon icon="simple-icons:react"></iconify-icon>
            </i>
            <i>
                <iconify-icon icon="simple-icons:svelte"></iconify-icon>
            </i>
            <i>
                <iconify-icon icon="simple-icons:eleventy"></iconify-icon>
            </i>
            <i>
                <iconify-icon icon="simple-icons:astro"></iconify-icon>
            </i>
            <i>
                <iconify-icon icon="simple-icons:vuedotjs"></iconify-icon>
            </i>
        </nav>
    </div>
    <div class="container primary-container">
        <nav class="align-start">
            <button class="fab small margin-right"><i>
                    <iconify-icon icon="mdi:image-size-select-small"></iconify-icon>
                </i></button>
            <article>
                <h5>Micro</h5>
                <p class="margin-none">Any Material Design-based framework was really heavy at size,
                    GMX.css
                    is built efficient and tiny as possible, makes it 10x smaller than any framework.
                </p>
            </article>
        </nav>
        <br>
        <div class="card">
            <nav>
                <span class="btn icon tonal margin-right"><i>
                        <iconify-icon icon="mdi:file-document-check-outline"></iconify-icon>
                    </i></span>
                <div>
                    <h5><a href="https://bundlephobia.com/package/gmx.css">6kB</a></h5>
                    <p class="text-sm">Minzipped</p>
                </div>
            </nav>
        </div>
    </div>
</section>