<div class="container">
    <header>
        <h3>List</h3>
    </header>
    <footer>
        <ul class="list-box">
            <li>
                <i>
                    <iconify-icon icon="mdi:person-outline"></iconify-icon>
                </i>
                <article>
                    <h5 class="small">This is a headline</h5>
                    <p class="text-sm">This is supporting text</p>
                </article>
            </li>
            <li>
                <i>
                    <iconify-icon icon="mdi:person-outline"></iconify-icon>
                </i>
                <article>
                    <h5 class="small">This is a headline</h5>
                    <p class="text-sm">This is an example of supporting text for a list item
                        component
                        showcase.</p>
                </article>
            </li>
        </ul>
    </footer>
</div>