<div class="container">
    <header>
        <h3>Menu</h3>
    </header>
    <footer>
        <ul class="menu">
            <li>
                <i>
                    <iconify-icon icon="mdi:arrow-u-left-top"></iconify-icon>
                </i>
                <span>Undo</span>
            </li>
            <li disabled="">
                <i>
                    <iconify-icon icon="mdi:arrow-u-right-top"></iconify-icon>
                </i>
                <span>Redo</span>
            </li>
            <li disabled="">
                <i>
                    <iconify-icon icon="mdi:content-cut"></iconify-icon>
                </i>
                <span>Cut</span>
            </li>
        </ul>
        <br>
        <details>
            <summary class="btn fab extended elevate-none text"><i>
                    <iconify-icon icon="mdi:more-vert"></iconify-icon>
                </i>Dropdown</summary>
            <ul class="menu">
                <li>
                    <i>
                        <iconify-icon icon="mdi:arrow-u-left-top"></iconify-icon>
                    </i>
                    <span>Undo</span>
                </li>
                <li disabled="">
                    <i>
                        <iconify-icon icon="mdi:arrow-u-right-top"></iconify-icon>
                    </i>
                    <span>Redo</span>
                </li>
                <li disabled="">
                    <i>
                        <iconify-icon icon="mdi:content-cut"></iconify-icon>
                    </i>
                    <span>Cut</span>
                </li>
            </ul>
        </details>
    </footer>
</div>