<div class="container">
    <header>
        <h3>Segmented button</h3>
    </header>
    <footer>
        <nav class="segmented">

            <input type="radio" name="segmented-b" id="segmented-b-0" checked="">
            <label class="btn" for="segmented-b-0">
                <i>
                    <iconify-icon icon="mdi:triangle-outline"></iconify-icon>
                </i>
                <i class="checked">
                    <iconify-icon icon="mdi:check"></iconify-icon>
                </i>
                Tab A
            </label>

            <input type="radio" name="segmented-b" id="segmented-b-1">
            <label class="btn" for="segmented-b-1">
                <i>
                    <iconify-icon icon="mdi:square-outline"></iconify-icon>
                </i>
                <i class="checked">
                    <iconify-icon icon="mdi:check"></iconify-icon>
                </i>
                Tab B
            </label>

            <input type="radio" name="segmented-b" id="segmented-b-2" disabled="">
            <label class="btn" for="segmented-b-2"><i>
                    <iconify-icon icon="mdi:circle-outline"></iconify-icon>
                </i>Tab C</label>

        </nav>
        <br><br>
        <nav class="segmented">

            <input type="checkbox" name="segmented-a" id="segmented-a-0" checked="">
            <label class="btn" for="segmented-a-0">
                <i>
                    <iconify-icon icon="mdi:triangle-outline"></iconify-icon>
                </i>
                <i class="checked">
                    <iconify-icon icon="mdi:check"></iconify-icon>
                </i>
                Tab A
            </label>

            <input type="checkbox" name="segmented-a" id="segmented-a-1">
            <label class="btn" for="segmented-a-1">
                <i>
                    <iconify-icon icon="mdi:square-outline"></iconify-icon>
                </i>
                <i class="checked">
                    <iconify-icon icon="mdi:check"></iconify-icon>
                </i>
                Tab B
            </label>

            <input type="checkbox" name="segmented-a" id="segmented-a-2" disabled="">
            <label class="btn" for="segmented-a-2"><i>
                    <iconify-icon icon="mdi:circle-outline"></iconify-icon>
                </i>Tab C</label>

        </nav>
    </footer>
</div>