<div class="container">
    <header>
        <nav>
            <h3>Slider</h3>
            <div class="flex-max"></div>
            <a class="btn icon tonal" href="#js"><i><iconify-icon icon="mdi:language-javascript"></iconify-icon></i></a>
        </nav>
    </header>
    <footer>
        <label class="slider" style="--percent: 53%">
            <input type="range" value="53" min="0" max="100" step="1" oninput="updateSlider(this)">
            <span class="track"></span>
            <span class="thumb"></span>
            <span class="tooltip">53</span>
        </label>
        <script>
            function updateSlider(slider) {
                const value = slider.value;
                const percent = value + '%';
                slider.parentElement.style.setProperty('--percent', percent);
                const tooltip = slider.parentElement.querySelector('.tooltip');
                tooltip.textContent = value;
            }
        </script>
    </footer>
</div>