<div class="container">
    <header>
        <h3>Tabs</h3>
    </header>
    <footer>
        <div class="tabs">
            <label>
                <input type="radio" name="tabs-demo" id="tabs-checked" checked="">
                <span>Hello</span>
            </label>
            <label>
                <input type="radio" name="tabs-demo" id="tabs-unchecked">
                <span>World</span>
            </label>
            <label>
                <input type="radio" name="tabs-demo" id="tabs-other">
                <span>The longest item</span>
            </label>
        </div>
        <br>
        <div class="tabs variable">
            <label>
                <i>
                    <iconify-icon icon="mdi:square-outline"></iconify-icon>
                </i>
                <input type="radio" name="tabs-variable-demo" id="tabs-variable-checked" checked="">
                <span>Hello</span>
            </label>
            <label>
                <i>
                    <iconify-icon icon="mdi:circle-outline"></iconify-icon>
                </i>
                <input type="radio" name="tabs-variable-demo" id="tabs-variable-unchecked">
                <span>World</span>
            </label>
            <label>
                <i>
                    <iconify-icon icon="mdi:emoji-outline"></iconify-icon>
                </i>
                <input type="radio" name="tabs-variable-demo" id="tabs-variable-other">
                <span>The longest item</span>
            </label>
        </div>
    </footer>
</div>