<section class="container text-center" id="themes">
    <h6>Select your favorite scheme 🎨</h6>
    <pre>&lt;link rel=&quot;stylesheet&quot; href=&quot;https://unpkg.com/gmx.css/dist/theme.min.css&quot;&gt;</pre>
    <br>

    <nav class="segmented scroll">

        <input type="radio" name="theme" id="theme-0">
        <label class="btn" for="theme-0" onclick="changeColor('red')">
            <i class="checked">
                <iconify-icon icon="mdi:check"></iconify-icon>
            </i>
            Red
        </label>

        <input type="radio" name="theme" id="theme-1">
        <label class="btn" for="theme-1" onclick="changeColor('pink')">
            <i class="checked">
                <iconify-icon icon="mdi:check"></iconify-icon>
            </i>
            Pink
        </label>

        <input type="radio" name="theme" id="theme-2" checked>
        <label class="btn" for="theme-2" onclick="changeColor('purple')">
            <i class="checked">
                <iconify-icon icon="mdi:check"></iconify-icon>
            </i>
            Purple
        </label>

        <input type="radio" name="theme" id="theme-3">
        <label class="btn" for="theme-3" onclick="changeColor('indigo')">
            <i class="checked">
                <iconify-icon icon="mdi:check"></iconify-icon>
            </i>
            Indigo
        </label>

        <input type="radio" name="theme" id="theme-4">
        <label class="btn" for="theme-4" onclick="changeColor('blue')">
            <i class="checked">
                <iconify-icon icon="mdi:check"></iconify-icon>
            </i>
            Blue
        </label>

        <input type="radio" name="theme" id="theme-5">
        <label class="btn" for="theme-5" onclick="changeColor('cyan')">
            <i class="checked">
                <iconify-icon icon="mdi:check"></iconify-icon>
            </i>
            Cyan
        </label>

        <input type="radio" name="theme" id="theme-6">
        <label class="btn" for="theme-6" onclick="changeColor('teal')">
            <i class="checked">
                <iconify-icon icon="mdi:check"></iconify-icon>
            </i>
            Teal
        </label>

        <input type="radio" name="theme" id="theme-7">
        <label class="btn" for="theme-7" onclick="changeColor('green')">
            <i class="checked">
                <iconify-icon icon="mdi:check"></iconify-icon>
            </i>
            Green
        </label>

        <input type="radio" name="theme" id="theme-8">
        <label class="btn" for="theme-8" onclick="changeColor('lime')">
            <i class="checked">
                <iconify-icon icon="mdi:check"></iconify-icon>
            </i>
            Lime
        </label>

        <input type="radio" name="theme" id="theme-9">
        <label class="btn" for="theme-9" onclick="changeColor('yellow')">
            <i class="checked">
                <iconify-icon icon="mdi:check"></iconify-icon>
            </i>
            Yellow
        </label>

        <input type="radio" name="theme" id="theme-10">
        <label class="btn" for="theme-10" onclick="changeColor('amber')">
            <i class="checked">
                <iconify-icon icon="mdi:check"></iconify-icon>
            </i>
            Amber
        </label>

        <input type="radio" name="theme" id="theme-11">
        <label class="btn" for="theme-11" onclick="changeColor('orange')">
            <i class="checked">
                <iconify-icon icon="mdi:check"></iconify-icon>
            </i>
            Orange
        </label>

        <input type="radio" name="theme" id="theme-12">
        <label class="btn" for="theme-12" onclick="changeColor('monochrome')">
            <i class="checked">
                <iconify-icon icon="mdi:check"></iconify-icon>
            </i>
            Mono
        </label>

    </nav>
    <br><br>
    <details open>
        <summary class="text-sm">Color schemes</summary>
        <br>
        <div class="grid all-l3 all-m6 all-s12 gap-none overflow-hidden round-lg">
            <div class="padding primary">
                <h6>Primary</h6>
            </div>
            <div class="padding primary-container">
                <h6>Primary Container</h6>
            </div>
            <div class="padding secondary">
                <h6>Secondary</h6>
            </div>
            <div class="padding secondary-container">
                <h6>Secondary Container</h6>
            </div>
            <div class="padding tertiary">
                <h6>Tertiary</h6>
            </div>
            <div class="padding tertiary-container">
                <h6>Tertiary Container</h6>
            </div>
            <div class="padding background">
                <h6>Background</h6>
            </div>
            <div class="padding surface">
                <h6>Surface</h6>
            </div>
            <div class="padding inverse-surface">
                <h6>Inverse Surface</h6>
            </div>
            <div class="padding surface-variant">
                <h6>Surface Variant</h6>
            </div>
            <div class="padding error">
                <h6>Error</h6>
            </div>
            <div class="padding error-container">
                <h6>Error Container</h6>
            </div>
        </div>
    </details>
    <script>
        function changeColor(color) {
            document.body.className = '';
            document.body.classList.add(color);
        }
    </script>
</section>