<div class="container">
    <header>
        <h3>Tooltips</h3>
    </header>
    <footer>
        <nav class="gap-s">
            <button class="chip tooltipped" aria-label="Plain tooltip">Plain tooltip</button>
            <button class="chip tooltipped rich" aria-label="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.">Rich tooltip</button>
            <button class="chip icon tooltipped-right" aria-label="Right tooltip"><i><iconify-icon icon="mdi:arrow-right"></iconify-icon></i></button>
            <button class="chip icon tooltipped" aria-label="Top tooltip"><i><iconify-icon icon="mdi:arrow-up"></iconify-icon></i></button>
            <button class="chip icon tooltipped-bottom" aria-label="Bottom tooltip"><i><iconify-icon icon="mdi:arrow-down"></iconify-icon></i></button>
            <button class="chip icon tooltipped-left" aria-label="Left tooltip"><i><iconify-icon icon="mdi:arrow-left"></iconify-icon></i></button>
        </nav>
    </footer>
</div>