<div class="container">
    <header>
        <h3>Typography</h3>
    </header>
    <footer>
        <div>
            <b>Lorem ipsum</b> <u>dolor sit</u> amet, consectetur <a href="https://github.com/KTibow/m3-svelte">adipiscing elit</a>. 
            <hr>
                <s>Morbi posuere</s>
            viverra diam, <i>vel egestas</i> <span class="text-sm">sapien</span> tincidunt <span class="text-lg">vel</span>. Fusce a erat augue. Fusce vel lorem vestibulum,
            <code>luctus nisi at</code>, lobortis <kbd>est</kbd>.
        </div>
    </footer>
</div>