<div class="container s12 m12 l12" id="utilities">
    <header>
        <h3>Utilities</h3>
    </header>
    <footer>
        <div class="grid all-s12 all-m6 all-l6 grid-outline">
            <div class="padding-s">
                Colors: <br>
                <code>.primary</code>, <code>.primary-container</code>, <code>.secondary</code>,
                <code>.secondary-container</code>, <code>.tertiary</code>,
                <code>.tertiary-container</code>, <code>.background</code>, <code>.surface</code>,
                <code>.inverse-surface</code>, <code>.surface-variant</code>, <code>.error</code>,
                <code>.error-container</code>, <code>.accent-gradient</code>
            </div>
            <div class="padding-s">
                Grid columns: <br>
                <code>.s1</code>...<code>.s12</code>, <code>.m1</code>...<code>.m12</code>,
                <code>.l1</code>...<code>.l12</code> <br>
                For all the colums in grid: <br>
                <code>.all-s1</code>...<code>.all-s12</code>,
                <code>.all-m1</code>...<code>.all-m12</code>,
                <code>.all-l1</code>...<code>.all-l12</code>
            </div>
            <div class="padding-s">
                Margins: <br>
                <code>.margin</code>, <code>.margin-none</code>, <code>.margin-auto</code>,
                <code>.margin-xs</code>, <code>.margin-s</code>, <code>.margin-l</code>,
                <code>.margin-xl</code>, <code>.margin-left</code>, <code>.margin-right</code>,
                <code>.margin-top</code>, <code>.margin-bottom</code>, <code>.margin-horiz</code>,
                <code>.margin-vert</code>
            </div>
            <div class="padding-s">
                Paddings: <br>
                <code>.padding</code>, <code>.padding-none</code>, <code>.padding-auto</code>,
                <code>.padding-xs</code>, <code>.padding-s</code>, <code>.padding-l</code>,
                <code>.padding-xl</code>, <code>.padding-left</code>, <code>.padding-right</code>,
                <code>.padding-top</code>, <code>.padding-bottom</code>,
                <code>.padding-horiz</code>, <code>.padding-vert</code>
            </div>
            <div class="padding-s">
                Gaps: <br>
                <code>.gap</code>, <code>.gap-none</code>, <code>.gap-auto</code>,
                <code>.gap-xs</code>, <code>.gap-s</code>, <code>.gap-l</code>, <code>.gap-xl</code>
            </div>
            <div class="padding-s">
                Border radius: <br>
                <code>.round</code>, <code>.round-none</code>, <code>.round-auto</code>,
                <code>.round-xs</code>, <code>.round-s</code>, <code>.round-l</code>,
                <code>.round-xl</code>
            </div>
            <div class="padding-s">
                Elevates: <br>
                <code>.elevate</code>, <code>.elevate-none</code>, <code>.elevate-auto</code>,
                <code>.elevate-s</code>, <code>.elevate-l</code>, <code>.elevate-xl</code>
            </div>
            <div class="padding-s">
                Display: <br>
                <code>.block</code>, <code>.inline-block</code>, <code>.flex</code>,
                <code>.inline-flex</code>
            </div>
            <div class="padding-s">
                Flex utilities: <br>
                <code>.flex-row</code>, <code>.flex-col</code>, <code>.flex-wrap</code>,
                <code>.flex-no-wrap</code>, <code>.flex-max</code>/<code>.all-max</code>
            </div>
            <div class="padding-s">
                Flex alignment: <br>
                <code>.align-start</code>, <code>.align-end</code>, <code>.align-center</code>,
                <code>.align-baseline</code>, <code>.align-stretch</code>,
                <code>.justify-left</code>, <code>.justify-center</code>,
                <code>.justify-right</code>, <code>.justify-between</code>,
                <code>.justify-around</code> <br>
                Text alignment: <br>
                <code>.text-left</code>, <code>.text-center</code>, <code>.text-right</code>
            </div>
            <div class="padding-s">
                Overflow: <br>
                <code>.overflow-auto</code>, <code>.overflow-hidden</code>,
                <code>.overflow-visible</code>, <code>.overflow-scroll</code>
            </div>
            <div class="padding-s">
                Width: <br>
                <code>.width-min</code>, <code>.width-max</code>, <code>.width-fit</code>,
                <code>.width-full</code>
            </div>
        </div>
    </footer>
</div>